.main {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.focus {
    margin-left: 240px;
    float: left;
    width: 678px;
    height: 480px;
    background-color: antiquewhite;
    overflow: hidden;
}

.news {
    float: right;
    width: 252px;
    height: 175px;
    border: 1px solid #666;
    margin-left: 30px;
}

.news .content dt {
    height: 30px;
    line-height: 30px;
    border: 1px solid #666;
    margin: -1px;
    margin-bottom: 3px;
    padding-left: 10px;
}

.news .content dd {
    height: 23px;
    line-height: 23px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news .content .more {
    float: right;
    margin-right: 10px;
}

.news .content .more::after {
    content: '\e920';
    font-family: 'icomoon';
    color: #666;
}

.lifeservice ul {
    float: right;
    width: 252px;
    height: 209px;
}

.lifeservice li {
    float: left;
    width: 63px;
    height: 71px;
    border: 1px solid #666;
    text-align: center;
    padding: 8px 15px;
}

.lifeservice li::before {
    content: '\e93a';
    font-family: 'icomoon';
    font-size: 25px;
    text-align: center;
    color: crimson;
}

.sale_img {
    float: right;
    width: 252px;
    height: 80px;
    margin-top: 15px;
    background: url(~@/assets/images/koshi.png);
    background-position: -22px -143px;
    overflow: hidden;
}

.recom {
    margin: 25px 0;
    height: 150px;
    background: #666;
}

.recom i {
    float: left;
    width: 200px;
    height: 100%;
    background: #5c5251;
}

.recom i img {
    margin: -30px 0 0 -25px;
    transform: scale(0.5, 0.5);
}

.recom ul li {
    float: left;
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.floor .shortcut {
    margin-top: 30px;
    border-bottom: 2px solid #c81623;
    background-color: #fff;
}

.floor .shortcut .fl {
    margin-left: 8px;
    font-size: 16px;
    color: #c81623;
}

.floor .shortcut ul li:nth-child(1) {
    color: #c81623;
}

.floor .shortcut ul li:last-child {
    margin-right: 10px;
}

.floor .content {
    height: 300px;
}

.floor .content ul li {
    float: left;
    height: 300px;
}

.floor .content ul li:nth-child(1) {
    width: 200px;
    margin-left: 0 10px;
}

.floor .content ul li:nth-child(1) a {
    float: left;
    width: 83px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #666;
    margin: 0 5px 0 12px;
}

.floor .content ul li:nth-child(1) a img {
    width: 183px;
    height: 196px;
    margin: -1px 10px 0px 0px;
    overflow: hidden;
}

.floor .content ul li:nth-child(2) {
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.floor .content ul li:nth-child(2) a img {
    float: left;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.floor .content ul li:nth-child(3) {
    width: 200px;
}

.floor .content ul li:nth-child(3) a img {
    float: left;
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.floor .content ul li:nth-child(4) {
    width: 200px;
}

.floor .content ul li:nth-child(4) a img {
    float: left;
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.floor .content ul li:nth-child(5) {
    width: 200px;
}

.floor .content ul li:nth-child(5) a img {
    float: left;
    width: 200px;
    height: 150px;
    overflow: hidden;
}